Hi {{.FirstName}},

We received a request to reset your password. Click the link below to set a new password:

{{.ResetURL}}

This link expires in 30 minutes. If you didn't request a password reset, you can safely ignore this email.

— Belune
